<div class="row mb-5">
  <div class="col-12">
    {{ item.describe }}
  </div>
</div>

<div class="row mb-2">

  <div class="col-6">
    <h6 class="mb-3 fw-bold">
      Inputs
    </h6>
    <div class="row mb-2">
      {% for item in item.classes.inputs %}
        <div class="col-6 mb-3">
          <pre class="m-0"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col-6">
          <div class="fm-group gp-sm mb-3">
            <span class="gp-text" id="basic-addon1">
              @
            </span>
            <input
              aria-describedby="basic-addon1"
              aria-label="Username"
              class="fm-input"
              placeholder="{{ item.title }}"
              type="text">
          </div>
        </div>
      {% endfor %}
    </div>

    <h6 class="mb-3 fw-bold">
      Sizes
    </h6>
    <div class="row ai-center">
      {% for item in item.classes.sizes %}
        <div class="col-6 mb-3">
          <pre class="m-0"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col-6 mb-3">
          <input
            aria-label=".fm-input-lg example"
            class="{{ item.class | remove: '.' }}"
            placeholder="{{ item.title }}"
            type="text">
        </div>
      {% endfor %}
    </div>

  </div>

  <div class="col-6 pl-5">
    <h6 class="mb-3 fw-bold">
      Buttons
    </h6>
    <div class="row mb-2">
      {% for item in item.classes.buttons %}
        <div class="col-6 mb-3">
          <pre class="m-0"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col-6">
          <div class="fm-group mb-3">
            {% if forloop.first %}
              <button
                class="btn btn-outline-black"
                id="button-addon1"
                type="button">
                Button
              </button>
              <input
                class="fm-input"
                placeholder=""
                type="text">
            {% else %}
              <input
                class="fm-input"
                placeholder=""
                type="text">
              <button
                class="btn btn-outline-black"
                id="button-addon1"
                type="button">
                Button
              </button>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>
