<div class="row mb-2">

  <div class="col-8">
    <h6 class="mb-3 fw-bold">
      Input Horizontal Rule
    </h6>
    <div class="row mb-3">
      {% for item in item.classes.inputs %}
        <div class="col-5 mb-3">
<pre class="m-0 pl-4"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col-5 pl-5">
          <input
            class="{{ item.class | remove: '.' }}"
            placeholder="{{ item.title }}"
            type="text">
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-8">
    <h6 class="mb-3 fw-bold">
      Select Lined
    </h6>
    <div class="row mb-3">
      {% for item in item.classes.selects %}
        <div class="col-5 mb-3">
<pre class="m-0 pl-4""><code>{{ item.class }}</code></pre>
        </div>
        <div class="col-5 pl-5">
          <select class="{{ item.class | remove: '.' }}" id="{{ item.title | slug }}">
            <option value="1">
              Option 1
            </option>
            <option value="2">
              Option 2
            </option>
            <option value="3">
              Option 3
            </option>
          </select>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-8">
    <h6 class="mb-3 fw-bold">
      Dropdown Lined
    </h6>
    <div class="row mb-3">
      {% for item in item.classes.dropdowns %}
        <div class="col-5 mb-3">
          <pre class="m-0 pl-3"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col-5 pl-5 mb-3">

            <div class="{{ item.class | remove: '.' }}" data-controller="dropdown">
              <button type="button" data-action="dropdown#toggle"
              data-dropdown-target="button">
                {{ item.title }}
              </button>
              <fieldset>
                <label for="1">Option 1</label>
                <input id="1" type="radio">

                <label for="2">Option 2</label>
                <input id="2" type="radio">

                <label for="3">Option 3</label>
                <input id="3" type="radio">

                <label for="4">Option 4</label>
                <input id="4" type="radio">
              </fieldset>
            </div>

        </div>

      {% endfor %}
    </div>
  </div>


  <div class="col-8">
    <h6 class="mb-3 fw-bold">
      Button Lined Groups
    </h6>
    <div class="row mb-3">
      {% for item in item.classes.groups.buttons %}
        <div class="col-5 mb-3">
          <pre class="m-0 pl-3"><code>.fm-group .fm-lined > {{ item.class }}</code></pre>
        </div>
        <div class="col-5 pl-5 mb-3">
          <div class="fm-group fm-lined">
            {%- if forloop.first -%}
              <button
                class="btn"
                id="button-addon1"
                type="button">
                Button
              </button>
              <input
                class="fm-input"
                placeholder="{{ item.title }}"
                type="text">
            {%- else -%}
              <input
                class="{{ item.class | remove: '.' }}"
                placeholder="{{ item.title }}"
                type="text">
              <button
                class="btn"
                id="button-addon"
                type="button"
                {% if item.button == " d isabled" %}
                disabled
                {% endif %}>
                Button
              </button>
            {%- endif -%}

          </div>
        </div>

      {% endfor %}
    </div>
  </div>


  <div class="col-8">
    <h6 class="mb-3 fw-bold">
      Select Lined Groups
    </h6>
    <div class="row mb-3">
      {% for item in item.classes.groups.buttons %}
        <div class="col-5 mb-3">
          <pre class="m-0"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col-5">
          <div class="fm-group fm-lined">

            {%- if forloop.first -%}
              <select class="fm-select" id="{{ item.title | slug }}">
                <option value="1">
                  One
                </option>
                <option value="2">
                  Two
                </option>
                <option value="3">
                  Three
                </option>
              </select>
              <input
                class="fm-input"
                placeholder="{{ item.title }}"
                type="text">
            {%- else -%}
              <input
                class="fm-input {{ item.class | remove: '.' }}"
                placeholder="{{ item.title }}"
                type="text">
                <button class="btn btn-dropdown">Dropdown</button>

            {%- endif -%}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>