<div class="row">
  <div class="col-6">
    {% for item in item.classes.states %}
      <div class="row mb-2">
        <div class="col-6 mb-3">
<pre class="m-0"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col-6">
          <div data-controller="dropdown" class="{{ item.class | remove: '.' }}">
            <button
              type="button"
              data-action="dropdown#toggle"
              data-dropdown-target="button">
              {{ item.title }}
            </button>
            <fieldset data-dropdown-target="collapse">

              <label aria-label="Badge" for="1">
                One
              </label>
              <input id="1" type="radio">

              <label
                aria-label="Selected"
                class="selected"
                for="2">
                Two
              </label>
              <input id="2" type="radio">

              <label aria-label="Badge" for="3">
                Three
              </label>
              <input id="3" type="radio">

              <label aria-label="Badge" for="4">
                Four
              </label>
              <input id="4" type="radio">

              <label
                aria-label="Disabled"
                class="fm-option disabled"
                for="5">
                Five
              </label>
              <input id="5" type="radio">

              <label aria-label="Badge" for="6">
                Six
              </label>
              <input id="6" type="radio">

            </fieldset>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-6">
    {% for item in item.classes.expanded %}
      <div class="row mb-2">
        <div class="col-6 mb-3">
<pre class="m-0"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col-6">
          <div class="{{ item.class | remove: '.' }}">
            <button type="button">
              {{ item.title }}
            </button>
            <fieldset>

              <label aria-label="Badge" for="1">
                One
              </label>
              <input id="1" type="radio">

              <label
                aria-label="Selected"
                class="selected"
                for="2">
                Two
              </label>
              <input id="2" type="radio">

              <label aria-label="Badge" for="3">
                Three
              </label>
              <input id="3" type="radio">

              <label aria-label="Badge" for="4">
                Four
              </label>
              <input id="4" type="radio">

              <label
                aria-label="Disabled"
                class="fm-option disabled"
                for="5">
                Five
              </label>
              <input id="5" type="radio">

              <label aria-label="Badge" for="6">
                Six
              </label>
              <input id="6" type="radio">

            </fieldset>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>