<div class="row jc-between">

  <div class="col-4 ai-center ">
    {% for item in item.classes.border %}
      <div class="row ai-center mb-2">
        <div class="col-4">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col-6 my-0">
          <span class="{{ item.class | remove_first: '.' }} p-2">
            {{ item.title }}
          </span>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="col-4 ai-center ">
    {% for item in item.classes.colors %}
      <div class="row ai-center mb-2">
        <div class="col-4">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col my-0">
          <span class="bd {{ item.class | remove_first: '.' }} p-2">
            {{ item.title }}
          </span>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="col-4 ai-center">
    {% for item in item.classes.sizes %}
      <div class="row ai-center jc-center mb-2">
        <div class="col-3">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col my-0">
          <span class="bd {{ item.class | remove_first: '.' }} p-2">
            {{ item.title }}
          </span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>