<div class="row mb-5">

  <div class="col-4 ai-center ">
    {% for item in item.classes.radius %}
      <div class="row ai-center mb-2">
        <div class="col-6">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col my-0">
          <span class="bd bd-black {{ item.class | remove_first: '.' }} p-2">
            {{ item.title }}
          </span>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="col-4 ai-center">

    {% for item in item.classes.angles %}
      <div class="row ai-center jc-center mb-2">
        <div class="col-5">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>
        <div class="col my-0">
          <span class="bd bd-black {{ item.class | remove_first: '.' }} p-2">
            {{ item.title }}
          </span>
        </div>
      </div>
    {% endfor %}

  </div>

  <div class="col-4">


    <div class="row ai-center mb-2">
      <div class="col-auto">
        <pre class="m-1"><code>{{ item.classes.circle.class }}</code></pre>
      </div>
      <div class="col my-0">
        <img
          class="bd bd-black {{ item.classes.circle.class | remove_first: '.' }}"
          height="40px"
          width="40px">
        {{ item.classes.circle.title }}
      </div>
    </div>


  </div>
</div>
