---
title: BRIXTOL | BOOTSTRAP
views:
  - demo
  - scss
  - html
refs:
  - fonts
  - text
  - utilities
  - forms
  - components
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>
      {{ title }}
    </title>

    <link
      content="stylesheet"
      href="./bootstrap.css"
      rel="stylesheet">
    <link
      content="stylesheet"
      href="./style.css"
      rel="stylesheet">

    <script defer src="./bundle.global.js"></script>

  </head>
  <body>
    <div class="container-fluid gx-0">
      <div class="row gx-0 jc-center vh-100">
        <div class="col-2 br bg-white">
          <div
            class="accordion lined"
            data-controller="accordion"
            data-accordion-multiple-value="false"
            data-accordion-persist-value="true"
            id="sidebar">

            {% for data in refs %}

              {% if data == "fonts" %}
                {% assign list = fonts.data %}
              {% elsif data == "text" %}
                {% assign list = text.data %}
              {% elsif data == "utilities" %}
                {% assign list = utilities.data %}
              {% elsif data == "forms" %}
                {% assign list = forms.data %}
              {% elsif data == "components" %}
                {% assign list = components.data %}
              {% endif %}

              <button class="accordion-btn upper fs-sm py-3 pl-4 fw-bold" type="button">
                {{ data }}
              </button>

              <div class="accordion-fold">
                <div class="d-block p-3">
                  {% for item in list %}
                    <a
                      class="d-block mb-1 upcase"
                      href="{{ item.title | slugify | prepend: '#' }}"
                      id="{{ item.title }}">
                      {{ item.title }}
                    </a>
                  {% endfor %}
                </div>
              </div>

            {% endfor %}

          </div>
        </div>

        <div class="col-10 mb-5 bg-white">
          <div class="d-block py-3 px-5 bg-white" id="search">
            <input
              type="search"
              id="search-input"
              placeholder="Search property or class name"
              class="fm-input">
          </div>
          <div class="accordion lined px-5" id="content">

            {% for data in refs %}

              {% if data == "fonts" %}
                {% assign list = fonts.data %}
              {% elsif data == "text" %}
                {% assign list = text.data %}
              {% elsif data == "utilities" %}
                {% assign list = utilities.data %}
              {% elsif data == "forms" %}
                {% assign list = forms.data %}
              {% elsif data == "components" %}
                {% assign list = components.data %}
              {% endif %}

              {% for item in list %}

                {% assign slug = item.title | slug %}

                {% for view in views %}

                  {% if forloop.first %}
                    <button type="button" class="accordion-btn d-flex ai-center h3 fw-bold no-icon initial">
                      <span class="mr-auto py-4">
                        {{ item.title }}
                      </span>
                      {% if item.responsive %}
                        <code class="lower fc-green">
                          responsive</code>
                        <span class="fc-gray px-4 fs-sm">|</span>
                      {% endif %}
                      <code class="lower">{{ item.property }}</code>
                    </button>
                  {% else %}
                    <button type="button" class="accordion-btn h6 fw-bold fc-gray py-3 {% if forloop.last %} bb-0{% endif %}">
                      {{ item.title | append: " " | append: view }}
                    </button>
                  {% endif %}

                  <div
                    class="accordion-fold bg-white"
                    id="{{ slug }}"
                    style="margin-top: 100px;">
                    <div class="container-fluid gx-0 {% if forloop.first %}py-4{% else %}py-1{% endif %}">
                      {% assign template = slug | append: "/" | append: view %}
                      {% render template
                        , item: item %}
                    </div>
                  </div>

                {% endfor %}
              {% endfor %}
            {% endfor %}
          </div>


        </div>
      </div>
    </div>

    <div id="modal-example" class="modal">
      <div class="modal-container">
        <h1>Hello World</h1>
      </div>
    </div>

  </body>
</html>