---
title: BRIXTOL | BOOTSTRAP
views:
  - demo
  - html
  - scss
refs:
  - layouts
  - fonts
  - text
  - utilities
  - forms
  - components
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>
      {{ title }}
    </title>

    <link
      content="stylesheet"
      href="./bootstrap.css"
      rel="stylesheet">
    <link
      content="stylesheet"
      href="./style.css"
      rel="stylesheet">

    <script defer src="./bundle.global.js"></script>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row  jc-center vh-100">

        <div class="col-2 br bg-white">
          <div
            class="accordion lined vh-100 overflow"
            data-controller="accordion"
            data-accordion-multiple-value="true"
            data-accordion-persist-value="false"
            data-relapse="sidebar"
            id="sidebar">

            {% for data in refs %}

              {% if data == "layouts" %}
                {% assign list = layouts.data %}
              {% elsif data == 'fonts' %}
                {% assign list = fonts.data %}
              {% elsif data == 'text' %}
                {% assign list = text.data %}
              {% elsif data == 'utilities' %}
                {% assign list = utilities.data %}
              {% elsif data == 'forms' %}
                {% assign list = forms.data %}
              {% elsif data == 'components' %}
                {% assign list = components.data %}
              {% endif %}

              <button class="accordion-btn upper py-3 pl-4 fw-bold" type="button">
                {{ data }}
              </button>

              <div class="accordion-fold">
                <ul class="list p-3 bg-ivory bt mx-0 pl-4">
                  {% for item in list %}
                    <li>
                      <a
                        class="d-block mb-1 upcase anchor"
                        href="{{ item.title | slugify | prepend: '#' }}"
                        data-href="{{ item.title | slugify }}"
                        id="{{ item.title }}">
                        {{ item.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>

            {% endfor %}

          </div>
        </div>

        <div class="col-10 mb-5 bg-white" id="contents">

          <div class="d-block py-3 bg-white" id="search">
            <input
              type="search"
              id="search-input"
              placeholder="Search property or class name"
              class="fm-input mx-2">
          </div>

          {% assign ref = 0 %}

          {% for data in refs %}

            {% if data == "layouts" %}
              {% assign list = layouts.data %}
            {% elsif data == 'fonts' %}
              {% assign list = fonts.data %}
            {% elsif data == 'text' %}
              {% assign list = text.data %}
            {% elsif data == 'utilities' %}
              {% assign list = utilities.data %}
            {% elsif data == 'forms' %}
              {% assign list = forms.data %}
            {% elsif data == 'components' %}
              {% assign list = components.data %}
            {% endif %}

            {% for item in list %}

              {% assign slug = item.title | slug %}

              <div
                id="{{ slug }}"
                class="row jc-between px-4 mt-5"
                data-ref="{{ ref }}">
                <div class="col-auto">
                  <a href="#{{ slug }}" class="h4 d-block fw-bold fc-dark-gray">
                    {{ item.title }}
                  </a>
                  <code class="lower fw-bold fs-sm fc-green mt-2">responsive</code>
                </div>
                <div class="col-auto mt-2">
                  {% if item.property.size > 0 %}
                    <code class="lower fw-bold fs-sm">{{ item.property }}</code>
                  {% endif %}
                </div>
              </div>

              {% if item.description %}

                <div class="d-block px-4 mt-4 mb-4">
                  {{ item.description }}
                </div>

              {% endif %}

              {% for view in views %}

                {% assign template = slug | append: "/" | append: view %}

                {% if view == 'demo' and item.expanded == true %}
                  {% assign expanded = 'initial bt-0' %}
                {% elsif view == 'scss' %}
                  {% assign expanded = 'bb' %}
                {% else %}
                  {% assign expanded = '' %}
                {% endif %}

                <div
                  class="accordion px-4 lined"
                  id="{{ slug }}-xx"
                  data-controller="accordion"
                  data-accordion-multiple-value="true"
                  data-accordion-persist-value="false">

                  <button type="button" class="accordion-btn fc-gray upper fs-md fw-bold py-3 px-0 {{ expanded }}">

                    {{ view }}

                  </button>

                  <div class="accordion-fold bg-white">
                    <div class="container-fluid px-0 py-4">
                      {% render template, item: item %}
                    </div>
                  </div>
                </div>

              {% endfor %}
            {% endfor %}

            {% assign ref = forloop.index %}

          {% endfor %}

        </div>
      </div>
    </div>

    <div id="modal-example" class="modal">
      <div class="modal-container">
        <h1>
          Hello World
        </h1>
      </div>
    </div>

  </body>
</html>