---
title: BRIXTOL | BOOTSTRAP
views:
  - html
  - scss
refs:
  - layouts
  - fonts
  - text
  - utilities
  - forms
  - components
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>
      {{ title }}
    </title>

    <link
      content="stylesheet"
      href="./bootstrap.css"
      rel="stylesheet">
    <link
      content="stylesheet"
      href="./style.css"
      rel="stylesheet">

    <script defer src="./bundle.global.js"></script>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row jc-center vh-100">

        <div class="col-2 px-0 br bg-white">
          <div
            class="accordion lined vh-100 overflow"
            data-controller="accordion"
            data-accordion-multiple-value="false"
            data-accordion-persist-value="false"
            data-relapse="sidebar"
            id="sidebar">

            {% for data in refs %}

              {% if data == "layouts" %}
                {% assign list = layouts.data %}
              {% elsif data == 'fonts' %}
                {% assign list = fonts.data %}
              {% elsif data == 'text' %}
                {% assign list = text.data %}
              {% elsif data == 'utilities' %}
                {% assign list = utilities.data %}
              {% elsif data == 'forms' %}
                {% assign list = forms.data %}
              {% elsif data == 'components' %}
                {% assign list = components.data %}
              {% endif %}

              <button class="accordion-btn upper py-3 pl-4 fw-bold" type="button">
                {{ data }}
              </button>

              <div class="accordion-fold">
                <ul class="list p-3 bg-ivory bt mx-0 pl-4">
                  {% for item in list %}
                    <li>
                      <a
                        class="d-block mb-1 upcase anchor"
                        href="{{ item.title | slugify | prepend: '#' }}"
                        data-href="{{ item.title | slugify }}"
                        id="{{ item.title }}">
                        {{ item.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>

            {% endfor %}

          </div>
        </div>

        <div class="col-10 mb-5 bg-white" id="contents">

          <div class="d-block pl-3 pr-5 py-3 bg-white" id="search">
            <input
              type="search"
              id="search-input"
              placeholder="Search property or class name"
              class="fm-input mx-2 pr-5">

            <div class="abs" style="right: 5px; top: 18px;">

              <a href="https://github.com/brixtol/bootstrap" target="_blank">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20px"
                  viewBox="0 0 120.78 117.79"><g id="Layer_2" data-name="Layer 2">
                  <g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M60.39,0A60.39,60.39,0,0,0,41.3,117.69c3,.56,4.13-1.31,4.13-2.91,0-1.44-.06-6.2-.08-11.24C28.54,107.19,25,96.42,25,96.42c-2.75-7-6.7-8.84-6.7-8.84-5.48-3.75.41-3.67.41-3.67,6.06.43,9.26,6.22,9.26,6.22,5.39,9.23,14.13,6.56,17.57,5,.54-3.9,2.11-6.57,3.83-8.08C36,85.55,21.85,80.37,21.85,57.23A23.37,23.37,0,0,1,28.08,41c-.63-1.52-2.69-7.66.58-16,0,0,5.07-1.62,16.61,6.19a57.26,57.26,0,0,1,30.24,0C87,23.42,92.11,25,92.11,25c3.29,8.32,1.22,14.46.59,16a23.32,23.32,0,0,1,6.21,16.21c0,23.19-14.13,28.3-27.57,29.8,2.17,1.87,4.1,5.55,4.1,11.18,0,8.08-.07,14.58-.07,16.57,0,1.61,1.09,3.49,4.15,2.9A60.4,60.4,0,0,0,60.39,0Z" />
                    <path class="cls-2" d="M22.87,86.7c-.13.3-.61.39-1,.18s-.68-.61-.54-.91.6-.39,1-.19.69.61.54.91Zm-.74-.55" />
                    <path class="cls-2" d="M25.32,89.43c-.29.27-.85.14-1.23-.28a.92.92,0,0,1-.18-1.25c.3-.27.84-.14,1.24.28s.47,1,.17,1.25Zm-.58-.62" />
                    <path class="cls-2" d="M27.7,92.91c-.37.26-1,0-1.35-.52s-.37-1.18,0-1.44,1,0,1.35.51.37,1.19,0,1.45Zm0,0" />
                    <path class="cls-2" d="M31,96.27c-.33.37-1,.27-1.55-.23a1.16,1.16,0,0,1-.34-1.54c.34-.37,1-.26,1.56.23s.68,1.18.33,1.54Zm0,0" />
                    <path class="cls-2" d="M35.46,98.22c-.15.47-.83.69-1.51.49s-1.13-.76-1-1.24.82-.7,1.51-.49,1.13.76,1,1.24Zm0,0" />
                    <path class="cls-2" d="M40.4,98.58c0,.5-.56.91-1.28.92s-1.31-.39-1.31-.88.57-.91,1.29-.92,1.31.39,1.31.88Zm0,0" />
                    <path class="cls-2" d="M45,97.8c.09.49-.41,1-1.13,1.12s-1.35-.17-1.44-.65.42-1,1.12-1.13,1.35.17,1.44.66Zm0,0" />
                  </g>
                </g>
              </svg>
            </a>

          </div>
        </div>

        <div class="row gx-0 py-5">

          <div class="col-8 px-4">
            <h5 class="fw-bold mb-3">OVERVIEW
            </h5>
            <p>
              This is a stripped down and customized
              <strong>Bootstrap v5
              </strong>
              variation with a refined set of styles and components. This module is used under the hood in our
              <a href="https://brixtoltextiles.com">webshop
              </a>
              . The module is refined for usage within Brixtol Textiles internal and public facing projects. This variation specifically is void of any components and mostly consists of the CSS logics.
            </p>
            <h5 class="fw-bold my-3">REFINED BOOTSTRAP
            </h5>
            <p>
              This variation uses custom naming conventions for classes in order to keep production bundles small without needing to purge. The constant breaking changes of Bootstrap is problematic and in order to negate complaints this has evolved to become a single point of control which we can depend upon while still being able to extend the base to different requirements.
            </p>
            <h5 class="fw-bold my-3">USAGE
            </h5>
            <p>
              When using this variation you can either either leverage its defaults or create a per-project
              <code>strap.scss
              </code>
              file to overwrite defaults. This flavor of Bootstrap is intended to be bundled along side project specific stylings, so the defaults are completely stripped and largely refactored. The main
              <code>sass/*
              </code>
              directory contains all the overwrites and refactors, the
              <code>sass/bootstrap/*
              </code>
              directory contains the hard-fork of Bootstrap and the
              <code>_
              </code>
              prefixed files in the root of this directory are import facing.
            </p>
          </div>
        </div>

        {% assign ref = 0 %}

        {% for data in refs %}

          {% if data == "layouts" %}
            {% assign list = layouts.data %}
          {% elsif data == 'fonts' %}
            {% assign list = fonts.data %}
          {% elsif data == 'text' %}
            {% assign list = text.data %}
          {% elsif data == 'utilities' %}
            {% assign list = utilities.data %}
          {% elsif data == 'forms' %}
            {% assign list = forms.data %}
          {% elsif data == 'components' %}
            {% assign list = components.data %}
          {% endif %}

          {% for item in list %}

            {% assign slug = item.title | slug %}

            <div
              id="{{ slug }}"
              class="row jc-between px-5 mt-5"
              data-ref="{{ ref }}">
              <div class="col-auto">
                <a href="#{{ slug }}" class="h4 d-block fw-bold fc-dark-gray">
                  {{ item.title }}
                </a>
                <code class="lower fw-bold fs-sm fc-green mt-2">
                  responsive
                </code>
              </div>
              <div class="col-auto mt-2">
                {% if item.property.size > 0 %}
                  <code class="lower fw-bold fs-sm">
                    {{ item.property }}
                  </code>
                {% endif %}
              </div>
            </div>

            {% if item.description %}

              <div class="d-block px-5 mt-4 mb-4">
                {{ item.description }}
              </div>

            {% endif %}

            <div class="container-fluid p-5">
              {% assign demo = slug | append: '/' | append: 'demo' %}
              {% render demo, item: item %}

              <div
                class="accordion mt-4"
                data-controller="accordion"
                data-accordion-multiple-value="true"
                data-accordion-persist-value="false">
                {% for view in views %}

                  {% assign template = slug | append: '/' | append: view %}

                  <details>
                    <summary class="accordion-btn fc-gray upper fs-md fw-bold py-3 px-4">
                      {{ view }}
                    </summary>
                    <div class="accordion-fold bg-white">
                      <div class="container-fluid px-4">
                        {% render template, item: item %}
                      </div>
                    </div>
                  </details>

                {% endfor %}
              </div>
            </div>

            <div class="row d-block bb"></div>
          {% endfor %}

          {% assign ref = forloop.index %}

        {% endfor %}

      </div>
    </div>
  </div>

  <div id="modal-example" class="modal">
    <div class="modal-container">
      <h1>
        Hello World
      </h1>
    </div>
  </div>

</body></html>