<div class="row ac-center">

  <div class="col-5">
    <div class="row ac-center mb-2">
      {% for item in item.classes.inputs %}

        <div class="col-5">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>

        <div class="col-7 ai-center d-flex">

          <div class="fm-switch">

            <input
              class="fm-checkbox"
              id="{{ item.title | slug }}"
              name="{{ item.title | slug }}"
              type="checkbox">

            <label class="fm-label ml-3" for="{{ item.title | slug }}">
              Some Form Label
            </label>

          </div>

        </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-5">
    {% for item in item.classes.validate %}
      <div class="row ac-center mb-2">
        <div class="col-6">
          <pre class="m-1"><code>{{ item.class }}</code></pre>
        </div>

        <div class="col ai-center d-flex">

          <div class="fm-switch">

            <input
              class="{{ item.class | remove: '.' }}"
              id="{{ item.title | slug }}"
              name="{{ item.title | slug }}"
              type="checkbox">

            <label class="fm-label ml-3" for="{{ item.title | slug }}">
              Some Form Label
            </label>

          </div>

        </div>
      </div>
    {% endfor %}
  </div>

</div>